   .jumbotron {
       background-color: #654321;
       color: #fff;
       height: 210px;
       text-align: center;
       padding: 15px;
   }

   .headings {
       background-color: #0088CC;
       color: #fff;
       padding: 7px;
       margin-top: 0;
       margin-bottom: 0;
       font-weight: bold;
   }

   .main-body {
       border: 2px #0088CC solid;
       border-radius: 5px;
       margin-bottom: 30px;
       padding: 0;
   }

   #form {
       padding: 10px;
   }

   input {
       width: 100%;
       padding: 3px;
       margin-bottom: 10px;
   }

   iframe {
       display: none;
   }